# .env.example
OPENAI_BASE_URL=""
api_key=""
host="localhost"
port=5433
username="user"
db_name="email_db"
password="set your password"
engine="postgresql://user:<your_password>@<user>:<port>/<database name>"
