google-api-python-client
google-auth-httplib2
google-auth-oauthlib
dotenv
typing
langgraph
pydantic
sqlalchemy
psycopg2-binary


langchain-core
langchain
pydantic-extra-types
phonenumbers
langchain-openai
python-dotenv

